@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #a9a9a97d;
    border-radius: 10px;
}

svg {
    height: 1.3rem;
    width: 1.3rem;
}

.hamburger {
    color: #707070;
}

.hamburger:hover {
    cursor: move;
}

.delete path {
    fill: #ff6961;
}

.delete:hover {
    cursor: pointer;
}

/* HorizontalLoader */

.loader-wrapper {
    position: absolute;
    width: 100%;
    height: 5px;
    overflow-x: hidden;
}

.loader-container {
    position: absolute;
    opacity: 0.4;
    background: #303C6C;
    width: 150%;
    height: 5px;
}

.loader-bar {
    position: absolute;
    background: #303C6C;
    height: 5px;
}

.loader-inc {
    animation: increase 2s infinite;
}

.loader-dec {
    animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
    from {
        left: -5%;
        width: 5%;
    }

    to {
        left: 130%;
        width: 100%;
    }
}

@keyframes decrease {
    from {
        left: -80%;
        width: 80%;
    }

    to {
        left: 110%;
        width: 10%;
    }
}