@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

.hamburger {
    height: 1rem;
    color: #707070;
}

.delete {
    height: 1rem;
}

.delete path {
    fill: #ff6961;
}

.delete:hover {
    cursor: pointer;
}

/* HorizontalLoader */

.loader-wrapper {
    position: absolute;
    width: 100%;
    height: 5px;
    overflow-x: hidden;
}

.loader-container {
    position: absolute;
    opacity: 0.4;
    background: #303C6C;
    width: 150%;
    height: 5px;
}

.loader-bar {
    position: absolute;
    background: #303C6C;
    height: 5px;
}

.loader-inc {
    animation: increase 2s infinite;
}

.loader-dec {
    animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
    from {
        left: -5%;
        width: 5%;
    }

    to {
        left: 130%;
        width: 100%;
    }
}

@keyframes decrease {
    from {
        left: -80%;
        width: 80%;
    }

    to {
        left: 110%;
        width: 10%;
    }
}