@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.hamburger {
    height: 1rem;
    color: #707070;
}